h1 {
  font-family: 'eurocene', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  float: right;
  width: 50%;
  position: relative;
  margin-right: 50px;
 
}

.cardholder {
  width: 50%;
}

#profile{
  width: 50%;
  position: relative;
  left: 0px;
  overflow: auto;
  float: left;
}

.bread {
  float: right;
  margin-bottom: 110px;
  padding-right: 40px;
}

.about {
  width: 50%;
  float: left;
  margin-bottom: 15px;
  left: 0px;

}

.title {
  color: grey;
  font-size: 18px;
}

.contact{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}
input, select{
  display: inline-block;
  float: left;
  width: 200px;
  margin-bottom: 10px;
}


/*a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}*/



button:hover, a:hover {
  opacity: 0.7;
} 

 .button {
    text-decoration: none;
    font-size: 22px;
    color: black;
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    }

.quicklinks {
    float: left;
    width: 30%;
    text-align: center;
}

.background {
  background-image: url(img/beige-tiles.png);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile {
  width: 50%;
  margin: 10px;
  padding: 10px;

}

.socials {
  text-align: center;
  float: left;
  position: relative;
  bottom: 10px;
  width: 30%;

}

table {
  border-collapse: collapse;
  margin-top: 30px;
  width: 100%;
}

table, th, td {
  position: relative;
  
  border: 1px solid black;
}

td {
  padding: 10px;
  text-align: center;
}

.spacemaker {
  margin-bottom: 50px;
}

footer {
        
        background-color: darkgrey;
        padding-left: 50px;
        margin-top: 50px;
        position: relative;
        bottom: 10px;
}

.address {
  position: relative;
  bottom: 10px;
  float: right;

  text-align: center;
  width: 30%;
}